[user]
    name = Smoku
    email = sm.oku@uko.ms
[core]
    editor = mcedit
    autocrlf = input
    safecrlf = true
[color]
    ui = true
[alias]
    co = checkout
    st = status
    ss = status -s
    cm = commit
    br = branch
    lg = log --date=iso --pretty=format:'%C(green)%h%Creset %C(cyan)%ad%x08%x08%x08%x08%x08%Creset %s %C(green)[%Creset%C(cyan)%an%Creset%C(green)]%Creset'
    lp = log --graph --date=iso --pretty=format:'%C(green)%h%Creset %C(cyan)%ad%x08%x08%x08%x08%x08%Creset %C(red)%d%Creset %s %C(green)[%Creset%C(cyan)%an%Creset%C(green)]%Creset'
    upd = pull --ff
    sync = merge origin/master